<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h1 class="mb-5">Coursera</h1>
        <a class="link" href="">About</a>
        <a class="link" href="">What We Offer</a>
        <a class="link" href="">Leadership</a>
        <a class="link" href="">Careers</a>
        <a class="link" href="">Catalog</a>
        <a class="link" href="">Coursera Plus</a>
        <a class="link" href="">Professional Certificates</a>
        <a class="link" href="">MasterTrack® Certificates</a>
        <a class="link" href="">Degrees</a>
        <a class="link" href="">For Enterprise</a>
        <a class="link" href="">For Government</a>
        <a class="link" href="">For Campus</a>
        <a class="link" href="">Become a Partner</a>
        <a class="link" href="">Coronavirus Response</a>
      </div>
      <div class="col-4">
        <h1 class="mb-5">Community</h1>

        <a class="link" href="">Learners</a>
        <a class="link" href="">Partners</a>
        <a class="link" href="">Developers</a>
        <a class="link" href="">Beta Testers</a>
        <a class="link" href="">Translators</a>
        <a class="link" href="">Blog</a>
        <a class="link" href="">Tech Blog</a>
        <a class="link" href="">Teaching Center</a>
      </div>
      <div class="col-4">
        <h1 class="mb-5">More</h1>
        <a class="link" href="">Press</a>
        <a class="link" href="">Investors</a>
        <a class="link" href="">Terms</a>
        <a class="link" href="">Privacy</a>
        <a class="link" href="">Help</a>
        <a class="link" href="">Help</a>
        <a class="link" href="">Contact</a>
        <a class="link" href="">Articles</a>
        <a class="link" href="">Directory</a>
        <a class="link" href="">Affiliates</a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-5 offset-1">
        <h4>© 2022 E-learning Inc. All rights reserved.</h4>
      </div>
      <div class="col-6">
        <a class=" text-black" href=""><i class="fab mx-2 fa-facebook-square fa-3x" aria-hidden="true"></i></a>
       <a  class=" text-black" href=""> <i class="fab mx-2 fa-instagram fa-3x" aria-hidden="true"></i></a>
        <a  class=" text-black" href=""><i class="fab mx-2 fa-twitter-square fa-3x" aria-hidden="true"></i></a>
       <a  class=" text-black" href=""> <i class="fab mx-2 fa-youtube-square fa-3x" aria-hidden="true"></i></a>
       <a  class=" text-black" href=""> <i class="fab mx-2 fa-linkedin fa-3x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>

</body>
</html>