<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <br>
    <title>Log In</title>
</head>

<body>

    <div class="h-auto div1">
        <div class="row" style="background-color:rgb(2, 123, 255); color: aliceblue;">

            <div class="col-6 p-5">
                <a href="">Browse</a>
                >
                <a href="">computer science</a>
                >
                <a href="">Software Development</a>
                <br>
                <br>
                <h1>{{course_name[id-1].courseName|uppercase}}</h1>
                <br>
                <br>
                <button class="button1">Enroll</button>
                <p>152,406 already enrolled</p>
            </div>

            <div class="col-6  p-5">
                <label>Offered By</label>
                <h1>Ain Shams University</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-8 p-5">
                <h3>About this Course</h3>
                <label>265,782 recent views</label>
                <br>
                <p>
                {{course_name[id-1].about_course}}
                </p>
            </div>
            <div class="col-4  p-5 ">
                <div class="p-5" style="background-color: rgba(236, 236, 236,1);">
                    <label for="" class="w-100" style="text-align: center;">learn career outcomes</label>
                    <h1 class="d-inline w-100">10%</h1>
                    <p class="d-inline w-100 p-5" style="text-align: center;"> a new career after completing these
                        courses</p>
                    <br>
                    <br>
                    <h1 class="d-inline w-100">23%</h1>
                    <p class="d-inline w-100 p-5" style="text-align: center;"> got a tangible career benefit from this
                        course </p>
                    <br>
                    <br>
                    <h1 class="d-inline w-100">13%</h1>
                    <p class="d-inline w-100 p-5" style="text-align: center;"> got a pay increase or promotion </p>

                </div>
                <div>
                <img src="assets/u10.png" class="p-2">
                <h3 class="d-inline"> Flexible deadlines</h3>
                <br>
                <img src="assets/u11.png" class="p-2">
                <h3 class="d-inline"> Shareable Certificate</h3>
                <br>
                <img src="assets/u12.png" class="p-2">
                <h3 class="d-inline"> 100% online</h3>
                <br>
                <img src="assets/u13.png" class="p-2">
                <h3 class="d-inline"> Beginner Level</h3>
                <br>
                <img src="assets/u14.png" class="p-2">
                <h3 class="d-inline"> Approx. 13 hours to complete</h3>
                <br>
                <img src="assets/u15.png" class="p-2">
                <h3 class="d-inline"> English</h3>
                <br>
                </div>
            </div>


        </div>
        <div class="p-5 ">
            <h1>Instructor</h1>
            <p>Instructor rating 4.64/5 (1,992 Ratings)</p>

            <img src="assets/user logo.png" alt="Instructor image" class="d-inline-block align-top">
            <div id="myblock" class="d-inline-block">
                <br>
                <p>{{Instructors[id-1].Name|uppercase}}</p>
                <p>{{Instructors[id-1].work|titlecase}}</p>
                <p>{{Instructors[id-1].numLearners}}</p>
                <p>{{Instructors[id-1].courses}}</p>
            </div>
        </div>

        <div class="p-5 ">
            <h1>Offered by</h1>
            <img id="img1" src="assets/Asu.png" alt="Instructor image" class="d-inline-blocks align-top">
            <div class="d-inline-block">
                <p>Ain shams university</p>
                <p>Our mission</p>
                <p>We believe all teams have potential to do amazing things.<br> From space travel and DNA sequencing,
                    to video games and
                    nonprofits<br>, our mission is to unleash the potential in every team and help advance <br> humanity
                    through the power of
                    software.</p>
            </div>
        </div>
        <div class="row p-5">
            <hr>
            <!--week 1-->
            <h1 style="text-align: center;">Syllabus - What you will learn from this course</h1>
            <h3 style="text-align: center;">Content Rating 98%(10,949 ratings)</h3>
           
            <div class="row" *ngFor="let content of contents">
                <div class="col-2">
                    <h1 style="text-align: center;">W E E K<br>{{content.Week}}</h1>
                </div>
                <div class="col-9">
                    <img src="assets/u150.png">
                    <h3 class="d-inline"> {{content.time|lowercase}}</h3>

                    <h2>{{content.contentName|titlecase}}</h2>
                    <p>
                        {{content.dis}}
                    </p>
                    <img src="assets/u154.png">
                    <h3 class="d-inline"> {{content.vid}}</h3>
                </div>
                        <hr>
            </div>
        </div>

    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>