<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <br>
    <title>Log In</title>
</head>

<body>

    <div class="h-auto div1">
           <div class="row" style="background-color:rgb(2, 123, 255); color: aliceblue;">

        <div class="col-6 p-5">
            <a style="color: aliceblue; text-decoration: none;" href="">Browse</a>
            >
            <a style="color: aliceblue; text-decoration: none;" href="">computer science</a>
            >
            <a style="color: aliceblue; text-decoration: none;" href="">Software Development</a>
            <br>
            <br>
            <h2>Analysis of Algorithms</h2>
            <br>
            <br>
            <button>Enroll</button>
        </div>

        <div class="col-6  p-5">
            <label>Offered By</label>
            <h3>Ain Shams University</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-8 p-5">
            <h3>About this Course</h3>
            <label>265,782 recent views</label>
            <br>
            <h3>
            Agile teams use “just enough” planning and an incremental approach to accomplishing the work of the team.
            Every project
            and every team uses a custom agile methodology. This course discusses common foundational principles and
            practices used
            by agile methodologies, providing the student a flexible set of tools to use in any role (e.g. product
            owner, scrum
            master, project manager, team member) on any agile team. This course mainly discusses agile and lean
            principles, the
            kanban and scrum agile methodologies, and uses Atlassian Jira Software Cloud as the main software tool to
            apply hands-on
            learning of the topics. The course includes instruction on "classic" Jira projects as well as the new
            "next-gen" Jira projects.

            Students can use the free plan of Atlassian Jira Software Cloud to complete the hands-on labs associated
            with this
            course. By the time you have completed this course, you will have a strong foundational understanding of
            agile
            principles and practices, and strong hands-on experience with Atlassian Jira Software Cloud. You will be the
            site
            administrator for your Jira account, so you will be able to perform basic administration tasks on your site.
            You should
            be able to continuously configure your Jira project(s) to match your team's custom agile methodology.

            You can watch the videos and take the quizzes from your phone if you want, but the hands-on labs using
            Atlassian Jira
            Software Cloud require you to have a Windows, Mac or Linux computer.

            This course tries to be as concise as possible. It will probably take you about 6-12 hours to go through,
            but your
            mileage may vary. It is highly encouraged that you apply what you learn to managing personal agile projects
            after the
            course is complete.
                </h3>
        </div>

        <div class="col-4  p-5">

        </div>


    </div>
</div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>