<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    

</head>

<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u880" class="ax_default box_1">
            <div id="u880_div" class=""></div>
            <div id="u880_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

       

        <!-- Unnamed (Image) -->
        <div id="u884" class="ax_default image">
            <img id="u884_img" class="img " src="assets/about/u884.png" />
            <div id="u884_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u885" class="ax_default box_1">
            <div id="u885_div" class=""></div>
            <div id="u885_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u886" class="ax_default label">
            <div id="u886_div" class=""></div>
            <div id="u886_text" class="text ">
                <p><span style="font-family:'Arial', sans-serif;font-weight:400;">E- learning partners with </span><span
                        style="font-family:'Arial Bold', 'Arial', sans-serif;font-weight:700;">more than 200 leading
                        universities</span><span style="font-family:'Arial', sans-serif;font-weight:400;"> and companies
                        to bring
                        flexible, affordable, job-relevant online learning to individuals and organizations worldwide.
                        We offer a
                    </span><a id="u887" class="link" href="www.google.com"><span
                            style="font-family:'Arial', sans-serif;font-weight:400;color:#0000FF;">range of learning
                            opportunities</span></a><span style="font-family:'Arial', sans-serif;font-weight:400;">—from
                        hands-on
                        projects and courses to job-ready certificates and degree programs.</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u888" class="ax_default image">
            <img id="u888_img" class="img " src="assets/about/u888.png" />
            <div id="u888_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u889" class="ax_default box_1">
            <div id="u889_div" class=""></div>
            <div id="u889_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u890" class="ax_default label">
            <div id="u890_div" class=""></div>
            <div id="u890_text" class="text ">
                <p><span style="font-family:'Arial Bold', 'Arial', sans-serif;font-weight:700;">We believe</span></p>
                <p><span style="font-family:'Arial', sans-serif;font-weight:400;">Learning is the source of human
                        progress.</span></p>
                <p><span style="font-family:'Arial', sans-serif;font-weight:400;">It has the power to transform our
                        world
                        <br>from illness to health,
                        <br>from poverty to prosperity
                        <br>from conflict to peace.

                    </span>
                </p>
                <p><span style="font-family:'Arial', sans-serif;font-weight:400;">It has the power to transform our
                        lives
                        <br>for ourselves,
                        <br>for our families,
                        <br>for our communities.
                    </span>
                </p>
                <p><span style="font-family:'Arial', sans-serif;font-weight:400;">No matter who we are or where we are,
                        <br>learning empowers us to change and grow
                        <br>and redefine what’s possible.
                        <br>That’s why access to the best learning is a right, not a privilege.


                    </span>
                </p>


                <p><span style="font-family:'Arial', sans-serif;font-weight:400;">And that’s why E- Learning is here.
                        <br>We partner with the best institutions
                        <br>to bring the best learning
                        <br>to every corner of the world.

                    </span></p>

                <p><span style="font-family:'Arial', sans-serif;font-weight:400;">So that anyone, anywhere has the power
                        to
                        <br>transform their life through learning.

                    </span></p>

            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u891" class="ax_default box_1">
            <div id="u891_div" class=""></div>
            <div id="u891_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u892" class="ax_default label">
            <div id="u892_div" class=""></div>
            <div id="u892_text" class="text ">
                <p><span>Serving the world through learning </span></p>
            </div>
        </div>


        <!-- Unnamed (Rectangle) -->
        <div id="u893" class="ax_default button">

            <button id="u893-b">Read our 2021 impact Report</button>

        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u894" class="ax_default label">
            <div id="u894_div" class=""></div>
            <div id="u894_text" class="text ">
                <p style="font-size:30px;"><span
                        style="font-family:'Arial Bold', 'Arial', sans-serif;font-weight:700;">Our
                        story</span></p>
                <p style="font-size:14px;"><span style="font-family:'Arial', sans-serif;font-weight:400;">E- Learning
                        was
                        founded by Goher, Houssam, Alaa and Mariam in 2012 with a vision of providing life-transforming
                        learning
                        experiences to learners around the world. Today, Coursera is a global online learning platform
                        that offers
                        anyone, anywhere, access to online courses and degrees from leading universities and companies.
                        Coursera
                        received B Corp certification in February 2021, which means that we have a legal duty not only
                        to our
                        shareholders, but to also make a positive impact on society more broadly, as we continue our
                        efforts to
                        reduce barriers to world-class education for all.</span></p>
                <p style="font-size:14px;"><span style="font-family:'Arial', sans-serif;font-weight:400;"><br></span>
                </p>
                <p style="font-size:14px;"><span
                        style="font-family:'Arial Bold', 'Arial', sans-serif;font-weight:700;">82
                        million learners, 100+ Fortune 500 companies, and more than 6,000 campuses,
                        businesses</span><span style="font-family:'Arial', sans-serif;font-weight:400;">,
                        and</span><span style="font-family:'Arial Bold', 'Arial', sans-serif;font-weight:700;">
                        governments</span><span style="font-family:'Arial', sans-serif;font-weight:400;"> come to E-
                        Learning to access world-class
                        learning—anytime, anywhere.</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u895" class="ax_default image">
            <img id="u895_img" class="img " src="assets/about/u895.png" />
            <div id="u895_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u896" class="ax_default box_1">
            <div id="u896_div" class=""></div>
            <div id="u896_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u897" class="ax_default label">
            <div id="u897_div" class=""></div>
            <div id="u897_text" class="text ">
                <p><span>Join our global community of progress makers and start learning today!</span></p>
                <p><span><br></span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u898" class="ax_default button">
            <button id="u898-b">Join now</button>
        </div>
    </div>
    <br>
    <br>
  
</body>

</html>