<!DOCTYPE html>
<html>

<head>
    <title>Edit Profile</title>
    
</head>

<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        

        <!-- Unnamed (Rectangle) -->
        <div id="u606" class="ax_default label">
            <div id="u606_div" class=""></div>
            <div id="u606_text" class="text ">
                <p><span>Edit my profile</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u607" class="ax_default button">
            
                <button routerLink='/profile' id = "u607-b" type="button">View Profile</button>
            
        </div>

        <!-- Unnamed (Line) -->
      

        <!-- Unnamed (Rectangle) -->
        <div id="u609" class="ax_default label">
            <div id="u609_div" class=""></div>
            <div id="u609_text" class="text ">
                <p style="font-size:24px;"><span>Introduction</span></p>
                
                <p style="font-size:17px;"><span>Let the E- Learning community of other learners and instructors
                        recognize you.</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u610" class="ax_default label">
            <div id="u610_div" class=""></div>
            <div id="u610_text" class="text ">
                <p><span>First Name</span></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u611" class="ax_default text_field">
            <div id="u611_div" class=""></div>
            <input id="u611_input" type="text" value="" class="u611_input" [(ngModel)]="first_name" />
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u612" class="ax_default label">
            <div id="u612_div" class=""></div>
            <div id="u612_text" class="text ">
                <p><span>Profile Photo</span></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u613" class="ax_default icon1">
            <img id="u613_img" class="img " src="assets/edit_profile/u613.svg" />
            <div id="u613_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u614" class="ax_default button">
            
                <button id="u614-b" type="button">Upload Photo</button>
            
        </div>

        <!-- Unnamed (Line) -->
        <div id="u615" class="ax_default line">
            <img id="u615_img" class="img " src="assets/edit_profile/u608.svg" />
            <div id="u615_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

       

        <!-- Unnamed (Rectangle) -->
        <div id="u617" class="ax_default label">
            <div id="u617_div" class=""></div>
            <div id="u617_text" class="text ">
                <p><span>Last Name</span></p>
                <p><span><br></span></p>
            </div>
        </div>
             <!-- Unnamed (Text Field) -->
             <div id="u623" class="ax_default text_field">
                <div id="u623_div" class=""></div>
                <input id="u623_input" type="text" value="" class="u623_input" [(ngModel)]="last_name"/>
            </div>
    

        <!-- Unnamed (Rectangle) -->
        <div id="u618" class="ax_default label">
            <div id="u618_div" class=""></div>
            <div id="u618_text" class="text ">
                <p><span>Job</span></p>
            </div>
        </div>


   
        <!-- Unnamed (Text Field) -->
        <div id="u624" class="ax_default text_field">
            <div id="u624_div" class=""></div>
            <input id="u624_input" type="text" value="" class="u624_input" [(ngModel)]="job"/>
        </div>

      


        <!-- Unnamed (Rectangle) -->
        <div id="u651" class="ax_default button">
            
               <button  id ="u651-b" type ="button" (click)="updateUser()">Save Changes </button>
            
        </div>
        <div id="u608" class="ax_default line">
            <img id="u608_img" class="img " src="assets/edit_profile/u608.svg" />
            <div id="u608_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
        
    </div>
</body>

</html>
