<h1><span style="color: rgb(8, 8, 130);margin-left: 80px;">Admin Name</span></h1>
<br><br>
<h2><span style="color: rgb(8, 8, 130);margin-left: 150px;">Students Requests</span></h2>

<style>
  table,th,td{
   
    text-align: left;
    padding: 8px;
}
  table{
    /* margin-left: 150px; */
    border-collapse: collapse;
    width: 100%;
  }
  tr:nth-child(even){background-color: #f2f2f2}

  th {
    background-color: #078f8f;
    color: white;
  }

  button {
    width: 200px;
    height: 46px;
    justify-content: center;
    display: block;
    color: #fff;
    /* background: rgb(4, 4, 159); */
    background: #0b8c8c;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background: #044d4d;
  }
</style>

<table>
  <tr>
    <th>-</th>
    <th>Id</th>
    <th>First Name</th>
    <th>Second Name</th>
  </tr>
  <tr>
    <td><input type="checkbox" id="check1">
      <label for="check1"> Select</label></td>
    <td><input></td>
    <td><input></td>
    <td><input></td>
  </tr>
</table>

<br><br>

<button style="display: inline-block;margin-left: 5cm;">Accept</button>
<button style="display: inline-block; margin-left: 18cm;">Delete</button>

<br><br>
<br><br>
<h2><span style="color: rgb(8, 8, 130);margin-left: 150px;">Faculties Requests</span></h2>


<table>
    <tr>
      <th>-</th>
      <th>Id</th>
      <th>First Name</th>
      <th>Second Name</th>
    </tr>
    <tr>
      <td><input type="checkbox" id="check2">
        <label for="check2"> Select</label></td>
      <td><input></td>
      <td><input></td>
      <td><input></td>
    </tr>
</table>

<br><br>

<button style="display: inline-block;margin-left: 5cm;">Accept</button>
<button style="display: inline-block; margin-left: 18cm;">Delete</button>
<br><br>
<br><br>
<br><br>

<button routerLink="/new-course" style="margin-left: 650px;background-color: #0c8484a8;">Create new course</button>
<br>
<button style="margin-left: 650px;background-color: #0c8484a8;">Delete user</button>
<br>
<button style="margin-left: 650px;background-color: #0c8484a8;">Edit course</button>

<div class="footer"><app-footer></app-footer></div>
