

#btn1 {
  width: 230px;
  height: 46px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: white;
  background:  rgb(8, 24, 94) !important;
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn1:hover {
  background: rgba(0, 0, 128, 255);
}