<!DOCTYPE html>
<html>

<head>
    <title>Fill Profile</title>

</head>

<body>
    <div id="base" >

    
        
            <div id="u915_div" >
                <input id="edit-b" type="image" routerLink='/edit-profile' src="assets/fill_profile/u919.svg" />
                <img id="u916_img"  src="assets/fill_profile/u916.svg" />
                <div id="u917" >
                     <p><span>User</span></p>
                </div>

                <div id="u918" >
                    
                        <p><span>Software developer / Engineer</span></p>
                    
                </div>

                <div id="u920" >
                    <div id="u920_div" class="">
                        <div id="u921" class="ax_default label">

                            <p><span>Achievements</span></p>


                        </div>
                         <img id="u922_img" class="img " src="assets/fill_profile/u922.svg" />
                        <table id="table1">
                            <tr>
                                <th *ngFor="let ach of achievements"><img src="assets/fill_profile/u923.svg" />{{ach}}</th>
                        
                            </tr>
                            <tr>
                        
                                <td *ngFor="let d of dates"> Achieved {{d|date}} </td>
                            </tr>
                        
                        </table>

                    </div>

                    
                        
                        
                      
                
                </div>
               

          
        </div>

                <button id="u929-b" routerLink='/edit-profile' type="button">Edit my Profile</button>

        
    </div>

    
</body>

</html>