<!DOCTYPE html>
<html>

<head>
    <title>Fill Profile</title>

</head>

<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u915" class="ax_default box_1">
            <div id="u915_div" class=""></div>
            <div id="u915_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u916" class="ax_default icon1">
            <img id="u916_img" class="img " src="assets/fill_profile/u916.svg" />
            <div id="u916_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u917" class="ax_default label">
            <div id="u917_div" class=""></div>
            <div id="u917_text" class="text ">
                <p><span>User</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u918" class="ax_default label">
            <div id="u918_div" class=""></div>
            <div id="u918_text" class="text ">
                <p><span>Software developer / Engineer</span></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u919" class="ax_default icon1">
            <input type="image" routerLink='/edit-profile' src="assets/fill_profile/u919.svg" />
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u920" class="ax_default box_1">
            <div id="u920_div" class=""></div>
            <div id="u920_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u921" class="ax_default label">
            <div id="u921_div" class=""></div>
            <div id="u921_text" class="text ">
                <p><span>Achievements</span></p>
            </div>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u922" class="ax_default line">
            <img id="u922_img" class="img " src="assets/fill_profile/u922.svg" />
            <div id="u922_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u923" class="ax_default icon1">
            <img id="u923_img" class="img " src="assets/fill_profile/u923.svg" />
            <div id="u923_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u924" class="ax_default label">
            <div id="u924_div" class=""></div>
            <div id="u924_text" class="text ">
                <p style="font-size:16px;line-height:26px;"><span>Java for Android</span></p>
                <p style="font-size:14px;line-height:normal;"><span style="color:#7F7F7F;">Achieved Oct 12 2020</span>
                </p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u925" class="ax_default label">
            <div id="u925_div" class=""></div>
            <div id="u925_text" class="text ">
                <p style="font-size:16px;line-height:26px;"><span>Python</span></p>
                <p style="font-size:14px;line-height:normal;"><span style="color:#7F7F7F;">Achieved Sep 22 2020</span>
                </p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u926" class="ax_default icon1">
            <img id="u926_img" class="img " src="assets/fill_profile/u923.svg" />
            <div id="u926_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u927" class="ax_default icon1">
            <img id="u927_img" class="img " src="assets/fill_profile/u923.svg" />
            <div id="u927_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u928" class="ax_default label">
            <div id="u928_div" class=""></div>
            <div id="u928_text" class="text ">
                <p style="font-size:16px;line-height:26px;"><span>C++</span></p>
                <p style="font-size:14px;line-height:normal;"><span style="color:#7F7F7F;">Achieved Sep 12 2020</span>
                </p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u929" class="ax_default button">

            <button id="u929-b" routerLink='/edit-profile' type="button">Edit my Profile</button>

        </div>

    </div>
</body>

</html>