


<div class="sec1">
  <div class="row h-100">
    <div class="col-7">
      <h1 class="wel">Welcome!</h1>
    </div>

    <div class="col-5">
      <div class="tell p-5">
        <h4 class="headd">Tell us about yourself</h4>
        <h5 class="d-inline">I am currently a</h5>
        <input
          class="ml-2"
          type="text"
          placeholder="Software Developer/ Engineer"
        />
        <a class="d-block mt-3" href="">Save a profile</a>
      </div>
    </div>
  </div>
  <div></div>
</div>

<div class="row homelink bg-white">
  <h1 class="linkk">
    <a href="" class="text-decoration-none text-black pl-5"> Home</a>
  </h1>
</div>
<div class="sec2 pt-5">
  <div class="row">
    <h2 class="get">Get Started with these Free Courses</h2>

<div class="my-slider">
 <div class="owl-carousel owl-theme">
  <div>
      <div class="p-2">
            <a routerLink="/cours-page/1">  <img src="../../assets/1.png" class=" " alt=""></a>
          
      </div>
  </div>
  <div>
      <div class="p-2">
               <a routerLink="/cours-page/2" >  <img src="../../assets/2.png" class=" " alt=""></a>
      
      </div>
  </div> 
  <div>
      <div class="p-2">
               <a routerLink="/cours-page/1" >  <img src="../../assets/3.png" class=" " alt=""></a>
          
      </div>
  </div>
 <div>
      <div class="p-2">
               <a routerLink="/cours-page/3" >  <img src="../../assets/4.png" class=" " alt=""></a>
          
      </div>
  </div>
   <div>
      <div class="p-2">
               <a routerLink="/cours-page/4" >  <img src="../../assets/5.png" class=" " alt=""></a>
          
      </div>
  </div>
   <div>
      <div class="p-2">
               <a routerLink="/cours-page/1" >  <img src="../../assets/6.png" class=" " alt=""></a>
          
      </div>
  </div>
</div>
  
   
</div>

  </div>

    <div class="row">
    <h2 class="get">Popular in Computer Science</h2>

<div class="my-slider">
 <div class="owl-carousel owl-theme">
  <div>
      <div class="p-2">
            <a routerLink="/cours-page/2" >  <img src="../../assets/11.png" class=" " alt=""></a>
          
      </div>
  </div>
  <div>
      <div class="p-2">
               <a routerLink="/cours-page/3" >  <img src="../../assets/22.png" class=" " alt=""></a>
      
      </div>
  </div> 
  <div>
      <div class="p-2">
               <a routerLink="/cours-page/4" >  <img src="../../assets/33.png" class=" " alt=""></a>
          
      </div>
  </div>
 <div>
      <div class="p-2">
               <a routerLink="/cours-page/1" >  <img src="../../assets/44.png" class=" " alt=""></a>
          
      </div>
  </div>
   <div>
      <div class="p-2">
               <a routerLink="/cours-page/2" >  <img src="../../assets/55.png" class=" " alt=""></a>
          
      </div>
  </div>
   <div>
      <div class="p-2">
               <a routerLink="/cours-page/3" >  <img src="../../assets/66.png" class=" " alt=""></a>
          
      </div>
  </div>
</div>
  
   
</div>

  </div>
</div>


<div class="footer"><app-footer></app-footer></div>
